*{
    font-family: Baskerville;
}


.titulo{
    text-align: center;
    font-size: 30px;
}

.sub-titulo{
    text-align: center;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: brown;
}

article{
    font-size: 22px;
    position: relative;
    text-align: justify;
    margin-right: 30%;
    margin-left: 20%;
    display: inline-block;
}

footer{
    position: relative;
    bottom: 0;
    margin-top: 100px;
    margin-left: 68%;
}

.indice{
    position: absolute;
    display: inline-block;
    padding-bottom: 100px;
    margin-left: 3%;
}


.aside{
    font-size: 16px;
    display:inline-block;
    position:fixed;
    bottom: 50px;
    right: 50px;
    text-align:justify;
    border: 1px solid;
    padding: 15px;
    background-color: antiquewhite;
}

.aside ol li{
    text-align: justify;
    font-size: 20px;
    margin-top: 10px;
}

#referencias{
    margin-top: ;
    margin-right: 30%;
    margin-left: 20%;
}

.titulo-aside{
    text-align: center;
    font-size: medium;
}

.linha-horizontal{
    width: 100%;
    border: 1px solid rgb(162, 162, 162);
    margin-top: 20px;
}

.linha-vertical {
    display: inline-block;
    position: absolute;
    height: 1500px;
    border-right: 1px solid rgb(162, 162, 162);
    margin-top: 10px;
    margin-left: 180px;
}

.titulo-invisivel{
    display:none;
}